*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 1em;
}

.link{
    color: white;
}
.boxheader{
    display: flex;
    margin: 1em auto;
    height: 30px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

h1{
    font-size: 2.5em;
    text-align: center;
    color: white;
}

p{
    text-align: center;
    margin-top: 1em;
    
    color: white;
}

.login{
   text-align: end;
   background-color: white;
   border: 2px solid white;
   border-radius: 25px;
}

.boxblu{
    display: flex;
   margin-top: 3em;
}

.boxrosa{
    width: 40%;
    min-height: 90%;
    margin: 1em auto;
   
}

.bottoni{
    margin-top: 2em;
    text-align: center;
}

#download{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 25px;
    width: 150px;
    padding: 0.5em;
    margin-top: 1em;
}

#openbottom{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 150px;
    padding: 0.5em;
   
    
   
}
.mainbianco{
    background-color: white;
}

.containerflex{
    width: 50%;
    margin: 1em auto;
    display: flex;
    min-height: 300px;
}

.rettangoloblu{
    width: 60%;
    min-height: 70%;
    
}

#primafoto{
    width: 100%;
}
.rettangolorosa{
    
    width: 40%;
    min-height: 70%;
}

#secondafoto{
    width: 100%;
}

h2{
    font-size: 2em;
}

.secondoparagrafo{
    color: black;
    
}
.maingrigio{
    background-color: #d3d3d3;
}

#terzafoto{
    width: 100%;
}

.maingrigio2{
    background-color: #d3d3d3;
}


.rettangoloverde{
    width: 100%;
    min-height: 500px;
    margin: 1em auto;
}

#titolone{
    text-align: center;
    color: black;
}

.footernero{
    background-color:#23272a ;
}

.flexcontainer{
    width: 50%;
    margin: 1em auto;
    display: flex;
    min-height: 300px;
    padding-top: 1em;
    
}

.rettangolosalmone{
    background-color: #f08080;
    min-height: 70%;
    width: 36%;
    border:dashed 1px;
}

.verdeacqua{
    background-color: #20b2aa;
    min-height: 70%;
    width: 16%;
    border: dashed 1px white;
}

.flexcontainer1{
    background-color: #7FFFD4;
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    
}


footer{
   background-color: #23272a ; 
}
.button{
    background-color: #FFB6C1;
    padding: 5px;
    border: dashed 1px;

}

.logo2{
    background-color: #FFB6C1;
    padding: 5px;
    width: 10%;
    border: dashed 1px;
}